:root {
  --fg: black;
  --bg: white;
  --input-fg: var(--fg);
  --input-bg: rgba(100,100,100,0.05);
  --display-fg: black;
  --display-bg: white;
  --error-fg: #777;
  --sansfont: "open sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  --monofont: Inconsolata, Menlo, Monaco, Consolas, "IBM Plex Mono", "Source Code Pro", 
  "Courier New", monospace;
}

button {
  color: var(--fg);
  font-size: .8rem;
  align-self: baseline;
}

.formulaWrapper {
  color: var(--fg);
  background-color: var(--bg);
  margin: 0;
  display: grid;
  padding: 0.5rem;
  grid-template-areas:
    "title"
    "options"
    "input"
    "display";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto) 1fr;
  overflow: hidden;
}

.title {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: bold;
}

.formulaOptions {
  grid-area: options;
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  margin: 0.2rem 0;
}

.formulaOptions > * {
  margin-right: 1rem;
  flex: 0 1 auto;
}

.formulaOptions > * > * {
  flex: 0 1 auto;
}

.formulaInput {
  grid-area: input;
}

textarea {
  font-size: 1.2rem;
  border: 2px solid var(--fg);
  color: var(--input-fg);
  background-color:  var(--input-bg);
  font-family: var(--monofont);
  outline: none;
}

textarea:focus {
  font-weight: bold;
}

.formulaDisplayWrapper {
  grid-area: display;
  overflow: scroll;
  background-color: var(--display-bg);
  margin-top: 0.4rem;
}

.formulaDisplay {
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
  color: var(--display-fg);
}

.formulaDisplayError {
  padding: .2rem .4rem;
  grid-area: display;
  font-family: var(--monofont);
  color: var(--error-fg);
}